.container {
  display: flex;
  position: relative;
  align-items: center;
  aspect-ratio: 9/16;
}
.container > .loading-overlay {
  /* We'll render the overlay on top of the Unity Application. */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: grey;
  /* We'll set the following Flex properties in order to center the text. */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container > .unity {
  /* The Unity Application matches it size to the container. */
  width: 100%;
  height: 100%;
}
.overlay {
  /* We'll render the overlay on top of the Unity Application. */
  width: 100%;
  height: 100%;
  @apply text-center absolute top-0 left-0 hidden sm:block tracking-wider px-4 py-2  backdrop-blur-lg bg-opacity-30 bg-[#2C5364];
}

.disabled-button {
  @apply px-6 py-2 text-center text-lg backdrop-blur-sm bg-white bg-opacity-20 rounded-lg;
}

.primary-button {
  @apply px-6 py-2 text-center text-lg bg-[#896DD8] rounded-lg;
}
