@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./fonts.css";

body {
  margin: 0;
  font-family: "Array", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gradient-text {
  /* background-image: linear-gradient(45deg, #000, #fff); */
  /* background: -webkit-linear-gradient( */
  /*   to right, */
  /*   #decba4, */
  /*   #3e5151 */
  /* ); /1* Chrome 10-25, Safari 5.1-6 *1/ */
  /* background: linear-gradient( */
  /*   to right, */
  /*   #decba4, */
  /*   #3e5151 */
  /* ); /1* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *1/ */
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0)
  );

  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.gradient-underline {
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
}

.gradient-underline::after {
  background: #f00;
  background: linear-gradient(
    135deg,
    rgb(255, 255, 255) 30%,
    rgba(255, 255, 255, 0.1)
  );
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
}

.gradient-background {
  /* background-image: linear-gradient( */
  /*   0, */
  /*   rgba(44, 83, 100, 0.8), */
  /*   rgba(15, 32, 39, 1) */
  /* ); */

  /* background: #3e5151; /1* fallback for old browsers *1/ */
  /* background: -webkit-linear-gradient( */
  /*   to top, */
  /*   #decba4, */
  /*   #3e5151 */
  /* ); /1* Chrome 10-25, Safari 5.1-6 *1/ */

  /* background: linear-gradient( */
  /*   to top, */
  /*   #decba4, */
  /*   #3e5151 */
  /* ); /1* Chrome 10-25, Safari 5.1-6 *1/ */

  /* background: linear-gradient( */
  /*   -225deg, */
  /*   #000, */
  /*   #a3803b */
  /* ); /1* Chrome 10-25, Safari 5.1-6 *1/ */
  /* background: linear-gradient(to bottom right, #000 20%, #444); */

  background: radial-gradient(
    at top center,
    #111226,
    #020415,
    #04061b
  ); /* Chrome 10-25, Safari 5.1-6 */
}

.btn-grad {
  background: linear-gradient(
    135deg,
    rgb(0, 0, 0) 10%,
    rgba(225, 225, 225, 0.2)
  );

  padding: 12px 40px;
  text-align: center;
  transition: 0.5s;
  text-transform: uppercase;
  background-size: 200% auto;
  color: white;
  letter-spacing: 1px;
  border-radius: 8px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.gradient-container {
  padding: 30px 40px;
  border-radius: 12px;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0.02) 0%,
    rgba(255, 255, 255, 0.25) 100%
  );
  width: 100%;
  position: relative;
  display: inline-block;
}

.focused-text {
  font-size: 22px;
  color: #b98ddb;
}

.gradient-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
  padding: 1px; /* control the border thickness */
  background: linear-gradient(
    to bottom right,
    rgba(225, 225, 225, 0.7),
    rgba(225, 225, 225, 0.1)
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
